---
---
$pinkcolor: #F06;
$coolblue: rgb(114, 166, 252);
$darkcoolblue: rgb(89, 134, 209);

$aboutWidth: 300px;
$googlePlusColor: rgba(212, 11, 13, 1);
$twitterColor: rgba(19, 157, 233, 1);
$facebookColor: rgba(36, 71, 134, 1);

@import "animation.scss";
@import "syntax.scss";
@import "sticky.scss";
@import "card.scss";
@import "material-button.scss";
@import "folded-paper.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    padding:0;
    margin:0;
    color:#666;
    background-color: #EEE;
    font-family:Open Sans, Arial;
    font-size: 12pt;
}

body.article {
    background-color: white;
}

a {
    text-decoration: none;
    color: $coolblue;
}
ul { list-style: none; padding: 0; }

h1 {
    font-size: 2em;
}

.avatar {
    height: 2em;
    width: 2em;
    border-radius: 1em;
}

.grid {
    text-align: center;
    li {
        text-align: left;
        display: inline-block;
        width: 300px;
        height: 200px;
        margin: 0.5em;
        padding: 0.5em;
        vertical-align: top;
    }
}

.share-button {
    font-size: 25pt;
    background-color: $darkcoolblue;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 1em;
    right: 1em;
    @include transform(translateY(4em));
    @include transition(transform, 1s);

    .content {
        @include transition(all, 0.2s);
        opacity: 0;
        position: absolute;
        bottom: 100%;
        width: 100%;
        a {
            color: white;
            font-size: 15pt;
            background-color: $coolblue;
            margin: auto auto 1em;
            display: block;
            @include transition(transform, 0.2s);
            @include transform(scale(0.1, 0.1));
        }
    }
    &:hover {
        .content {
            opacity: 1;
        }
        a {
            @include transform(scale(1,1));
        }
    }
    &.visible {
        @include transform(translateY(0));
    }
}

.title {
    color: $pinkcolor;
}

.tag {
    font-size: 10pt;
    color: #888;
    font-style: italic;
}

.hover-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fixed-header {
    font-size: 1.5em;
    background-color: white;
    line-height: 0;
    padding: 0.5em;
    span {
        vertical-align: 1em;
        font-size: 0.75em;
    }
}

#header {
    text-align: center;
    font-size: 1.95em;
    padding: 1em;

    .avatar {
        font-size: 1.5em;
    }

    .title {
        text-shadow: 1px 1px 0px #FFF;
        color: inherit;
        font-weight: bold;
    }
}

#footer {
    background-color: $darkcoolblue;
    color: white;
    text-align: center;
    padding: 1em;
    a { color: #010733; }
    i.social {
        font-size: 2em;
        color: white;
        margin: 0.5em 1em;
    }
}

time.folded-paper {
    padding: 3px;
    position: absolute;
    right: -1em;
    font-size: 11pt;
    color: white;
}
.article-card {
    @include transition(all, 0.5s);
    &:hover {
        box-shadow: 0.2em 0.2em 4px #AAA;
        @include transform(translate(-0.2em, -0.2em));
    }
    background-color: white;
    position: relative;
    p.description {
        font-size: 11pt;
    }
}

article {
    max-width: 800px;
    margin: auto;
    padding: 2em;
    position: relative;
    time.folded-paper {
        right: 0;
    }
    .notice {
        background-color: rgb(242, 191, 134);
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        border: solid 1px rgba(102, 72, 21, 1);
        color: rgba(102, 72, 21, 1);
    }
    ul {
        list-style-type: disc;
        padding: 0 2em;
    }
    img {
        box-shadow: 0 0 10px black;
        display: block;
        max-width: 90%;
        margin: auto;
    }

}

pre, code {
    text-shadow: 1px 1px 0 white;
    font-size: 11pt;
    background-color: #F6F6F6;
    border-radius: 3px;
    border: solid 1px #DDD;
    padding: 0.3em;
}
pre {
    padding: 1em;
    overflow: scroll;
}
pre code {
    background-color: transparent;
    border: none;
    padding: 0;
}
