@import "./_sass/syntax.scss";

article {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  position: relative;
  h2, h3 {
    position: relative;
    padding-bottom: .3em;
    .anchor {
      color: #666;
      transition: opacity 0.3s;
      position: absolute;
      right: 100%;
      opacity: 0;
      &:after {
        content: "#";
      }
    }
    code {
      font-size: inherit;
      padding: 0.1em;
    }
    &:hover {
      .anchor {
        opacity: 1;
      }
    }
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
    border-bottom: solid 1px #EEE;
    margin: 1em 0 .5em;
  }
  h3 {
    font-size: 1.5em;
    margin: 1em 2em;
  }
  p {
    line-height: 1.6em;
  }
  .notice {
    background-color: rgb(242, 191, 134);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: solid 1px rgba(102, 72, 21, 1);
    color: rgba(102, 72, 21, 1);
  }
  ul {
    list-style-type: disc;
    padding: 0 2em;
  }
  img {
    border: solid 1px grey;
    display: block;
    max-width: 90%;
    margin: auto;
  }

}

pre, code {
  font-size: 11pt;
  background-color: #F6F6F6;
  border-radius: 3px;
  border: solid 1px #DDD;
  padding: 0.3em;
}
pre {
  padding: 1em;
  overflow-x: auto;
}
pre code {
  background-color: transparent;
  border: none;
  padding: 0;
}
