.anchor {
  color: #666;
  transition: opacity 0.3s;
  opacity: 0;
  visibility: hidden;
}
.anchor:after {
  content: "#";
}
h2 code, h3 code {
  font-size: inherit;
  padding: 0.1em;
}
h2:hover .anchor, h3:hover .anchor {
  opacity: 1;
  visibility: visible;
}
article .notice {
  background-color: #f2bf86;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: solid 1px #664815;
  color: #664815;
}
code {
  background-color: #F6F6F6;
  border-radius: 3px;
  border: solid 1px #DDD;
  padding: .1em;
  font-size: 11pt;
}
pre {
  padding: 1em;
  overflow-x: auto;
}
pre code {
  background-color: transparent;
  border: none;
  padding: 0;
}