article h2 .anchor, article h3 .anchor {
  color: #666;
  transition: opacity 0.3s;
  position: absolute;
  right: 100%;
  opacity: 0;
  visibility: hidden;
}
article h2 .anchor:after, article h3 .anchor:after {
  content: "#";
}
article h2 code, article h3 code {
  font-size: inherit;
  padding: 0.1em;
}
article h2:hover .anchor, article h3:hover .anchor {
  opacity: 1;
  visibility: visible;
}
article .notice {
  background-color: #f2bf86;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: solid 1px #664815;
  color: #664815;
}
article ul {
  list-style-type: disc;
  padding: 0 2em;
}
pre, code {
  font-size: 11pt;
  background-color: #F6F6F6;
  border-radius: 3px;
  border: solid 1px #DDD;
  padding: 0.3em;
}
pre {
  padding: 1em;
  overflow-x: auto;
}
pre code {
  background-color: transparent;
  border: none;
  padding: 0;
}