---
---
.home-container {
  max-width: 50%;
  @media screen and (max-width: 1000px) {
    max-width: 75%;
  }
  @media screen and (max-width: 650px) {
    max-width: 80%;
  }
  margin: auto;
  text-align: center;
  > .centered {
    display: inline-block;
    text-align: left;
  }
  .list {
    li { display: flex; }
    time {
      font-weight: bold;
      min-width: 90px;
      text-align: right;
    }
  }
}
.aboutme {
  max-width: 500px;
}
