---
---
$pinkcolor: #F06;
$coolblue: rgb(114, 166, 252);
$darkcoolblue: rgb(89, 134, 209);

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
  padding:0;
  margin:0;
  color:#333;
  background-color: white;
  font-family:Open Sans, Arial;
  font-size: 13pt;
}

a {
  text-decoration: none;
  color: $coolblue;
}
ul { list-style: none; padding: 0; }

.avatar {
  height: 2em;
  width: 2em;
  border-radius: 1em;
}

.title {
  color: $pinkcolor;
}

.tag {
  font-size: 10pt;
  color: #888;
  font-style: italic;
}

#header {
  text-align: center;
  font-size: 1.95em;
  padding: 1em;

  .avatar {
    font-size: 1.5em;
  }

  .title {
    text-shadow: 1px 1px 0px #FFF;
    color: inherit;
    font-weight: bold;
  }
}

#footer {
  background-color: $darkcoolblue;
  color: white;
  text-align: center;
  padding: 1em;
  a { color: #010733; }
}
