---
layout: default
sitemap: false
---
<link href="/css/list.css" type="text/css" rel="stylesheet">
<div class="list-container">
  <h2>CFP Submissions</h2>
  <p class="list-container__headline list-container__content">
  Here are all the talk proposals I have ever made. It's mainly a place for me to store them and to keep a trace of it but you might also very well find inspiration in here :).<br>
  I'll try to update this list every time I make a new submission.<br>
  Some of them ended up being real <a href="/talks">talks I gave</a>.
  </p>
  <ul class="list-container__list list-container__content">
    {% assign cfps = site.cfp | sort: 'date' | reverse %}
    {% for cfp in cfps %}
    <li lang="{{cfp.lang}}">
      <time
        datetime="{{cfp.date | date_to_xmlschema}}"
        pubdate
        itemprop="datePublished"
        content="{{cfp.date | date_to_xmlschema}}">
        {{ cfp.date | date: '%-d&nbsp;%b&nbsp;%y' }}
      </time>
      &nbsp;
      <div>
        {% include flag.html lang=cfp.lang %}
        {% if cfp.status == "ok" %}
          ✔
        {% elsif cfp.status == "ko" %}
          ✖
        {% else %}
          🤞
        {% endif %}
        <a class="title" title="{{cfp.description}}" href="{{cfp.url}}">{{cfp.title}}</a>
        <aside>
          <a href={{ cfp.site }} target="_blank">{{ cfp.conf }}</a>
        </aside>
      </div>
    </li>

    {% endfor %}
  </ul>
</div>
