---
  permalink: feed.xml
  eleventyExcludeFromCollections: true,
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ seo.title }}</title>
  <subtitle>{{ seo.description }}</subtitle>
  <link href="{{ seo.url }}/feed.xml" rel="self"/>
  <link href="{{ seo.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ seo.url }}</id>
  <author>
    <name>{{ seo.author }}</name>
    <uri>https://twitter.com/atomrc</uri>
  </author>
  {%- for post in collections.posts | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(seo.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    {% if post.data.updated %}
    <updated>{{ post.data.updated | dateToRfc3339 }}</updated>
    {% else %}
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    {% endif %}
    <published>{{ post.date | dateToRfc3339 }}</published>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>