---
layout: default
title: J'y suis, JS
description: Les pérégrinations d'un développeur front-end
---
<ul class="grid">
    {% for post in site.posts %}
        <li class="card article-card">
            <div class="filler"></div>
            <a class="title" href="{{post.url}}">{{post.title}}</a>
            <a class="hover-link" href="{{post.url}}"></a>
            <time
                class="folded-paper"
                datetime="{{post.date | date_to_xmlschema}}"
                pubdate
                itemprop="datePublished"
                content="{{post.date | date_to_xmlschema}}">
                {{ post.date | date: '%-d <span class="month">%b</span> %y' }}
            </time>
            <aside>
                {% for tag in post.categories %}
                <span class="tag">{{ tag }}</span>&nbsp;
                {% endfor %}
            </aside>
            <p class="description">{{post.description}}</p>
        </li >
    {% endfor %}
</ul>
<ul class="grid">
    {% for page in site.pages %}
        {% if page.sitemap.include %}
        <li class="card article-card">
            <a class="title" href="{{page.url | remove: 'index.html'}}"><strong>{{page.title}}</strong></a>
            <time
                class="folded-paper"
                datetime="{{page.date | date_to_xmlschema}}"
                pubdate
                itemprop="datePublished"
                content="{{page.date | date_to_xmlschema}}">
                {{ page.date | date_to_string }}
            </time>
            <p class="description">{{page.description}}</p>
        </li >
        {% endif %}
    {% endfor %}
</ul>
