---
layout: default
title: J'y suis JS
sitemap:
    exclude: true
---

<ul id="posts-container">
    {% for post in site.posts %}
        <li class="card soft-box">
            <div>
                <a href="{{post.url}}"><strong>{{post.title}}</strong></a>
            </div>
            <time
                datetime="{{post.date}}"
                pubdate
                itemprop="datePublished"
                content="{{post.date}}">
                {{ post.date | date_to_string }}
            </time>
            <aside>
                {% for tag in post.categories %}
                <span class="tag">{{ tag }}</span>&nbsp;
                {% endfor %}
            </aside>
            <p class="description">{{post.description}}</p>
        </li >
    {% endfor %}
</ul>
