---
layout: layouts/default
title: Talks
excerpt: I love giving talks and sharing experiences. Here are the talks I gave (slides + video)
nositemap: true
---
<link href="/css/list.css" type="text/css" rel="stylesheet" />
<div class="list-container">
  <h2>Talks I gave</h2>
  <p class="list-container__headline list-container__content">
    {{ excerpt }}
  </p>
  <ul class="list-container__list list-container__content">
    {% for talk in collections.talks reversed %}
    {% include post-list-element.html, element:talk, type: "talks" %}
    {% endfor %}
  </ul>
</div>
