article {
  max-width: 800px;
  margin: auto;
  padding: 0 1em;
  position: relative;
  line-height: 1.5em;
}
article h1 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1em;
}
article h2,
article h3 {
  position: relative;
  padding-bottom: 0.3em;
  font-weight: 500;
  line-height: 1.2em;
}
article h2 {
  font-size: 2em;
  border-bottom: solid 1px var(--secondary-color);
  margin: 1em 0 0.5em;
}

article h3 {
  font-size: 1.5em;
  margin: 1em 1em;
}
article ul {
  list-style-type: disc;
  padding: 0 2em;
}
article picture {
  border: solid 1px grey;
  display: block;
  max-width: 100%;
  margin: auto;
}
picture img, video {
  width: 100%;
  height: auto;
}