body {
  --ff-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Roboto", "Noto Sans", "Droid Sans", sans-serif;
  --ff-mono: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono",
    "Roboto Mono", Menlo, Monaco, Consolas, monospace;
  padding: 0;
  margin: 0;
  color: #333;
  background-color: white;
  font-family: var(--ff-sans);
  font-size: 13pt;
}

a {
  text-decoration: none;
  color: #0e4db5;
}

ul {
  list-style: none;
  padding: 0;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.title {
  color: #e7005d;
}

.tag {
  font-size: 10pt;
  color: #555;
  font-style: italic;
}

#header {
  text-align: center;
  font-size: 1.95em;
  padding: 1em;
}
#header .title {
  text-shadow: 1px 1px 0px #fff;
  color: inherit;
  font-weight: 200;
}

#footer {
  background-color: #5986d1;
  color: white;
  text-align: center;
  padding: 1em;
}
#footer a {
  color: #010733;
}
