body {
  --ff-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Roboto", "Noto Sans", "Droid Sans", sans-serif;
  --ff-mono: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono",
    "Roboto Mono", Menlo, Monaco, Consolas, monospace;
  padding: 0;
  margin: 0;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: var(--ff-sans);
  font-size: 13pt;
}

body,
body.light-mode {
  --font-color: #333;
  --font-secondary-color: #555;
  --bg-color: #fff;
  --title-color: #e7005d;
  --link-color: #0e4db5;
  --bg-code-color: #f6f6f6;
  --secondary-color: #eee;
}
body.dark-mode {
  --font-color: #ddd;
  --font-secondary-color: #aaa;
  --bg-color: #1c1c21;
  --title-color: var(--link-color);
  --link-color: rgb(88, 166, 255);
  --bg-code-color: #444;
  --secondary-color: #333;
}

#dark-mode-toggle {
  border: none;
  background-color: transparent;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1;
  height: 24px;
  width: 24px;
  overflow: hidden;
}
#dark-mode-toggle svg {
  stroke: var(--font-color);
  fill: var(--font-color);
  transition: opacity 300ms, fill 300ms, stroke 300ms;
  position: absolute;
  top: 0;
  left: 0;
}
.dark-mode #dark-mode-toggle .moon,
.light-mode #dark-mode-toggle .sun {
  opacity: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

ul {
  list-style: none;
  padding: 0;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.title {
  color: var(--title-color);
}

.tag {
  font-size: 10pt;
  color: var(--font-secondary-color);
  font-style: italic;
}

#header {
  text-align: center;
  font-size: 1.95em;
  padding: 1em;
}
#header nav {
  text-align: center;
  font-size: .5em;
}
#header .title {
  color: var(--font-color);
  font-weight: 200;
}

#footer {
  text-align: center;
  padding: 2em;
}
.love {
  color: red;
}
#footer a {
  color: inherit;
  text-decoration: underline;
}

.list-container {
  max-width: 50%;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .list-container {
    max-width: 75%;
  }
}
@media screen and (max-width: 650px) {
  .list-container {
    max-width: 80%;
  }
}

.list-container__title {
  text-align: center;
}

.list-container__list li {
  display: flex;
  padding-bottom: 0.5em;
}
.list-container__list time {
  text-align: right;
  min-width: 90px;
}

.list-container__headline {
  max-width: 500px;
}

.list-container__content {
  display: inline-block;
  text-align: left;
}
