body {
  --ff-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Roboto", "Noto Sans", "Droid Sans", sans-serif;
  --ff-mono: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono",
    "Roboto Mono", Menlo, Monaco, Consolas, monospace;
  --font-color: #333;
  --font-secondary-color: #555;
  --bg-color: #fff;
  --title-color: #e7005d;
  --link-color: #0e4db5;
  --bg-code-color: #f6f6f6;
  padding: 0;
  margin: 0;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: var(--ff-sans);
  font-size: 13pt;
}

@media (prefers-color-scheme: dark) {
  body {
    --font-color: #ddd;
    --font-secondary-color: #aaa;
    --bg-color: #1c1c21;
    --title-color: var(--link-color);
    --link-color: rgb(88, 166, 255);
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

ul {
  list-style: none;
  padding: 0;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.title {
  color: var(--title-color);
}

.tag {
  font-size: 10pt;
  color: var(--font-secondary-color);
  font-style: italic;
}

#header {
  text-align: center;
  font-size: 1.95em;
  padding: 1em;
}
#header .title {
  color: inherit;
  font-weight: 200;
}

#footer {
  text-align: center;
  padding: 2em;
}
.love {
  color: red;
}
#footer a {
  color: inherit;
  text-decoration: underline;
}
