<li lang="{{element.data.lang}}">
  <time datetime="{{element.date}}">
    {{ element.date | date: '%d&nbsp;%b&nbsp;%y' }}
  </time>
  &nbsp;
  <div>
    {% include flag.html, lang: element.data.lang %}&nbsp;
    <a class="title" title="{{element.data.excerpt}}" href="{{element.url}}">{{element.data.title}}</a>
    {% if element.data.extra %}({{ element.data.extra }}){% endif %}
    {% if element.data.video %}
    <a href="{{ element.data.video }}" target="_blank">video</a>
    {% endif %}
    <aside>
      {% for tag in element.data.tags %}
      {% if tag != type %}
      <span class="tag">{{ tag }}</span>&nbsp;
      {% endif %}
      {% endfor %}
    </aside>
  </div>
</li>
