{% assign elm = include.post %}
<li lang="{{elm.lang}}">
  <time
    datetime="{{elm.date | date_to_xmlschema}}"
    pubdate
    itemprop="datePublished"
    content="{{elm.date | date_to_xmlschema}}">
    {{ elm.date | date: '%-d&nbsp;%b&nbsp;%y' }}
  </time>
  &nbsp;
  <div>
    [{{elm.lang}}]
    <a class="title" title="{{elm.description}}" href="{{elm.url}}">{{elm.title}}</a>
    {% if elm.extra %}({{ elm.extra }}){% endif %}
    {% if elm.video %}
    <a href="{{ elm.video }}" target="_blank">video</a>
    {% endif %}
    <aside>
      {% for tag in elm.categories %}
      <span class="tag">{{ tag }}</span>&nbsp;
      {% endfor %}
    </aside>
  </div>
</li>
