I am a Front End Developer @<a href="https://www.doyoubuzz.com" target="_blank">doyoubuzz</a> in Nantes (FRANCE)<br>
I ♥ playing with JavaScript. I try to apply Functional Programming patterns to any code I produce.<br>
Vim is my one and only editor :)<br>
I tweet (<a href="https://twitter.com/atomrc" target="_blank">@atomrc</a>)<br>
I code (<a href="https://github.com/atomrc" target="_blank">atomrc</a>)<br>
I give talks (<a href="/cfp">CFP submissions</a>)<br>
I help (<a href="https://stackoverflow.com/users/2745879/atomrc" target="_blank">S.O profile</a>)
