Senior Front-End Engineer <a href="https://deezer.com" target="_blank" rel="noreferrer noopener">@deezer</a> in Paris.<br>
I leave code cleaner than I found it.<br>
I give talks (<a href="/talks/">my talks</a>)<br>
I tweet (<a href="https://twitter.com/atomrc" target="_blank" rel="noreferrer noopener">@atomrc</a>) and I code (<a href="https://github.com/atomrc" target="_blank" rel="noreferrer noopener">atomrc</a>)<br>
I help (<a href="https://stackoverflow.com/users/2745879/atomrc" target="_blank" rel="noreferrer noopener">S.O profile</a>)
