I am a Passionate Front-end Engineer @<a href="https://wire.com" target="_blank" rel="noreferrer noopener">wire</a> in Berlin<br>
I ♥ playing with JavaScript. I try to apply Functional Programming patterns to any code I produce.<br>
Vim is my one and only editor :)<br>
I give talks (<a href="/talks">my talks</a>) and submit to CFPs (<a href="/cfp">talk submissions</a>)<br>
I tweet (<a href="https://twitter.com/atomrc" target="_blank" rel="noreferrer noopener">@atomrc</a>) and I code (<a href="https://github.com/atomrc" target="_blank" rel="noreferrer noopener">atomrc</a>)<br>
I help (<a href="https://stackoverflow.com/users/2745879/atomrc" target="_blank" rel="noreferrer noopener">S.O profile</a>)
