@mixin transition($property, $duration, $delay:0s) {
    -webkit-transition: $property $duration $delay;
    -moz-transition: $property $duration $delay;
    -o-transition: $property $duration $delay;
    transition: $property $duration $delay;
}
@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -o-transform: $property;
    transform: $property;
}
