---
layout: default
---
<link href="/css/article.css" type="text/css" rel="stylesheet">
<div id="full-article">
  <a href="/cfp">↩ Back to cfp</a>
  <article lang="{{page.lang}}">
    <header>
      <h1 class="title">{{page.title}}</h1>
      <aside>
        <em>
          This is a "Call For Proposals" I submitted on
        <time class="folded-paper" datetime="{{page.date}}" pubdate itemprop="datePublished" content="{{page.date}}">
          {{ page.date | date: '%-d <span class="month">%b</span> %Y' }}
        </time>
        for <a href="{{ page.site }}">{{ page.conf }}</a>
        </em>
      </aside>
    </header>
    <br>
    <div class="article-body">
      <strong>Abstract</strong>
      {{ content }}
    </div>


  </article>
</div>
