<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    {% seo %}
    <script async defer data-domain="atomrc.dev" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body class="{% if page.collection == 'posts' %}article{%endif%}">
    <div id="header">
      <div>
        <a href="/"><img class="avatar" src="{{site.avatar}}" alt="Avatar"></a>
        <br>
        <a class="title" href="/"><span rel="author">{{ site.name }}</span></a><br>
      </div>
    </div>
    <section>
      {{ content }}
    </section>
    <div id="footer">
      <address>
        {% include signature.html %}
      </address>
    </div>
  </body>
</html>
