---
layout: default
---
<!--
  <div class="sticky-container">
  <div data-sticky="" id="sticky-header" class="fixed-header">
  <a href="/"><img class="avatar falling" src="/images/avatar_s.jpeg"></a>
  <span class="title">{{ page.title }}</span>
  </div>
  </div>
-->
<link href="/css/article.css" type="text/css" rel="stylesheet">
<div id="full-article">
  <article lang="{{page.lang}}">
    <header>
      <h1 class="title">{{page.title}}</h1>
      <aside>
        <time class="folded-paper" datetime="{{page.date}}" pubdate itemprop="datePublished" content="{{page.date}}">
          {{ page.date | date: '%-d <span class="month">%b</span> %Y' }}
        </time>
        <br>
        {% for tag in page.categories %}
        <span class="tag">{{ tag }}</span>&nbsp;
        {% endfor %}
      </aside>
    </header>
    <div class="article-body">
      {% if page.notices %}
      {% for notice in page.notices %}
      <div class="notice">
        {{ notice | markdownify }}
      </div>
      {% endfor %}
      {% endif %}
      {{ content }}
    </div>

    {% assign url =  page.url | prepend: site.url | cgi_escape %}
    {% assign desc =  page.description | cgi_escape %}
    <a target="_blank" href="https://twitter.com/intent/tweet?url={{url}}&text={{desc}}&related=atomrc">Tweet this</a>

    <div data-reading-probe="{{page.url}}"></div>
    <section id="related">
      <div class="header"> A lire aussi :</div>
      <ul>
        {% for post in site.related_posts limit: 3 %}
        <li><a href="{{ post.url }}" title="{{ post.description }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
    <br>
    <br>

    <section id="disqus_thread" data-lazy-disqus=""></section>
  </article>
  <script src="/js/application.js" async></script>
</div>
