---
layout: default
---
<div id="full-article" class="soft-box">
    <article>
        <header>
            <h1>{{page.title}}</h1>
            <time datetime="{{page.date}}" pubdate itemprop="datePublished" content="{{page.date}}">
                {{ page.date | date_to_string }}
            </time>
            <aside>
                {% for tag in page.categories %}
                <span class="tag">{{ tag }}</span>&nbsp;
                {% endfor %}
            </aside>
        </header>
        {% if page.notices %}
            {% for notice in page.notices %}
            <div class="notice">
                {{ notice | markdownify }}
            </div>
            {% endfor %}
        {% endif %}
        {{ content }}
        <footer>
            <img id="avatar" src="/images/avatar_s.jpeg">
            <div rel="author">Thomas Belin</div>
            <adresse>
                Front End développeur chez <a href="http://www.doyoubuzz.com">DoYouBuzz. </a><br>
                Je <a href="/p/faire-la-part-belle-au-code">fais la part belle au code</a>.<br>
                Je crois en la richesse du web. <br>
                Je m'éclate avec Javascript.<br>
                <a href="https://twitter.com/ThomasBelin4">@ThomasBelin4</a>
                <a href="https://plus.google.com/+ThomasBelin?rel=author">+ThomaBelin</a>
                <a href="https://github.com/thomasbelin4">Github</a>
            </adresse>
        </footer>
    </article>
</div>
