---
layout: default
---
<div id="full-article">
    <article>
        <header>
            <h1 class="title">{{page.title}}</h1>
            <aside class="folded-paper">
                <time datetime="{{page.date}}" pubdate itemprop="datePublished" content="{{page.date}}">
                    {{ page.date | date: '%-d <span class="month">%b</span> %Y' }}
                </time>
                {% for tag in page.categories %}
                <span>{{ tag }}</span>&nbsp;
                {% endfor %}
            </aside>
        </header>
        <div class="article-body">
        {% if page.notices %}
            {% for notice in page.notices %}
            <div class="notice">
                {{ notice | markdownify }}
            </div>
            {% endfor %}
        {% endif %}
        {{ content }}
        </div>

        <div id="share-panel">
            {% assign url =  page.url | prepend: site.url | cgi_escape %}
            {% assign desc =  page.description | cgi_escape %}
            <a class="share-provider" target="_blank" href="https://twitter.com/intent/tweet?url={{url}}&text={{desc}}&related=atomrc"><img src="/images/icons/twitter_32.png" title="Partager sur Twitter" alt="Twitter"></a>
            <a class="share-provider" target="_blank" href="https://plus.google.com/share?url={{url}}"><img src="/images/icons/plus_32.png" title="Partager sur Google+" alt="Google+"></a>
            <a class="share-provider" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}"><img src="/images/icons/facebook_32.png" title="Partager sur Facebook" alt="Facebook"></a>
        </div>

        <section id="related">
            <div class="header"> A lire aussi :</div>
            <ul>
                {% for post in site.related_posts limit: 3 %}
                    <li><a href="{{ post.url }}" title="{{ post.description }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <br>
        <br>

        <section id="disqus_thread" data-lazy-disqus=""></section>
    </article>
</div>
