<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Thomas Belin's Blog"
      href="{{ config.url }}/feed.xml"
    />
    {% favicon './favicon.svg' %}
    <title>{{ title | append: " - Thomas Belin" }}</title>
    <meta name="description" content="{{excerpt | default: seo.description}}" />
    <meta name="author" content="{{seo.author}}" />
    <link rel="canonical" href="{{ config.url }}{{ page.url }}" />

    <meta property="og:title" content="{{ title | append: " - Thomas Belin" }}" />
    <meta property="og:description" content="{{excerpt | default: seo.description}}" />
    <meta property="og:url" content="{{config.url}}{{page.url}}" />
    <meta property="og:image" content="{{config.avatar}}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@atomrc" />
    <meta name="twitter:title" content="{{ title | append: ' - Thomas Belin' }}" />
    <meta name="twitter:description" content="{{excerpt | default: seo.description}}" />
    <meta name="twitter:image" content="{{config.avatar}}" />

    <meta name="color-scheme" content="dark light" />
    {% capture css %} {% include main.css %} {% endcapture %}
    <style>
      {{ css | cssmin }}
    </style>
    <script async defer data-domain="atomrc.dev" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <button id="dark-mode-toggle" aria-label="Toggle bewteen dark and light mode">
      {% include images/sun.svg %}{% include images/moon.svg %}
    </button>
    <script>
      {% include js/darkmode.js %}
    </script>
    <section id="header">
      <div>
        <a href="/"
          ><img class="avatar" src="{{config.avatar}}?s=200" alt="Avatar"
        /></a>
        <br />
        <a class="title" href="/"><span rel="author">Thomas Belin</span></a
        ><br />
      </div>
      <nav>
        <a href="/about/">About Me</a>
      </nav>
    </section>
    <section>{{ content }}</section>
    <footer>
      Made with <span class="love">♥</span>️ by
      <a href="https://twitter.com/atomrc" rel="noopener noreferrer">@atomrc</a>
      <br/>
      <a href="/feed.xml">RSS feed</a>
    </footer>
  </body>
</html>
