---
layout: layouts/default
---
{% capture css %} {% include article.css %} {% endcapture %}
<link href="/css/article.css" rel="stylesheet" async defer />
<link href="/css/syntax.css" rel="stylesheet" async defer />
<style>{{ css | cssmin }}</style>
<article lang="{{lang}}">
  <header>
    <h1 class="title">{{title}}</h1>
    <aside>
      {% include post-metadata.html, tags:tags, pubdate: date %}
    </aside>
  </header>
  <div class="article-body">
    {% if page.notices %}
    {% for notice in page.notices %}
    <div class="notice">
      {{ notice | markdownify }}
    </div>
    {% endfor %}
    {% endif %}
    {{ content }}
  </div>

  <br>
  {% assign url = page.url | prepend: config.url %}
  <em>You enjoyed this article? Consider <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?url={{url}}&text={{title}}&via=atomrc">tweeting it</a> :)</em>
</article>
<script src="/js/posts.js" async></script>
{% jsonLdScript meta, type, tags %}
