---
title: "doyoubuzz + angularjs [en]"
date: 2014/04/13
sitemap:
    include: false
---
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>DoYouBuzz + AngularJS : from $() to angular.module()</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/code-themes/custom.css" rel="stylesheet">
    <link href="./css/counter.css" rel="stylesheet">
    <link href="./css/application.css" rel="stylesheet">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-34218773-1', { siteSpeedSampleRate: 100 });
        ga('send', 'pageview');
    </script>
</head>

<body class="impress-not-supported">

    <div id="impress" data-transition-duration="1000">

        <div id="welcome" class="step slide" data-scale="0.3">
            <h1>
                <img src="./images/doyoubuzz.png"> + <img src="./images/angularjs.png"><br>
            </h1>
            <h2>From <samp>$()</samp> <br>to<br> <samp>angular.module()</samp></h2>
        </div>


        <div class="step increment" id="about-me" data-steps=3 data-scale="0.3">
            <img src="./images/me.jpeg" style="border-radius: 10px; width: 30%">
            <strong class="me-function">Front-end developer @ DoYouBuzz</strong>
            <br>
            <strong class="me-passion">The Web is more than just my job, it's my passion</strong>
            <strong class="me-twitter">@ThomasBelin4</strong>
        </div>

        <div class="step" data-scale="0.3" data-x="1000" data-y="-500" data-rotate="45">
            <h3 class="subtitle">What are we talking about?</h3>
        </div>

        <div class="step" data-scale="0.3" data-x="1000" data-y="-500" data-rotate="-45">
            <img src="./images/doyoubuzz.png" style="display: block; margin: 25% auto; width: 70%;">
        </div>

        <div class="step" data-scale="0.3" data-x="1000" data-y="-500">
            <iframe src="http://doyoubuzz.com/thomas-belin_0" class="doyoubuzz-iframe"></iframe>
        </div>

        <div class="step" data-scale="0.3" data-x="1500" data-y="0">
            <h3 class="subtitle">The old codebase</h3>
        </div>

        <div class="step slide" data-scale="0.3" data-steps=5>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> : The codebase</h2>
            <p>
                <ul>
                    <li class="substep s1">5000 lines of JS code</li>
                    <li class="substep s2">completly based on jQuery</li>
                    <li class="substep s3">no organisation of the code</li>
                    <li class="substep s4">highly dependant on the DOM structure</li>
                    <li class="substep s5">the DOM is highly dependant on the serveur routes</li>
                </ul>
            <br>
            <pre class="substep x3" style="font-size: 15pt; line-height: 1.5em"><code data-language="javascript">$('a.widget.edit').click(function () {
    var $this = $(this);
    $('.random.selector').show();
    $('.other.random.selector').hide();
    $.get($this.attr('href'), function (response) {
        $this
            .parent()
            .parent()
            .find('.widget-content')
            .html(response.html);
    });
    return false;
});</code></pre>
            <div class="substep x4">
                <img src="./images/dyb.design.classic.png" style="width: 55%">
                <img src="./images/dyb.design.noise.png" style="width: 40%">
            </diV>

            <pre class="substep x5"><code data-language="html">&lt;a
    class=&quot;edit&quot;
    href=&quot;/fr/ajax/skills/save/?id=11&amp;cv_id=12&quot;&gt;
&lt;/a&gt;</code></pre>
            </p>

        </div>

        <div class="step slide" data-scale="0.3" data-steps=1>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> : The codebase</h2>
            <q>The front is really user friendly but not developer friendly at all !</q>
            <img src="./images/dyb.v1.developper.gif" class="substep s1" style="margin: auto;">
        </div>

        <div class="step slide" data-scale="0.3" data-steps=3>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> : The codebase</h2>
            <img src="./images/skills.png" style="height:70%; border: solid 1px gray; float: left; margin: 10px;">
            <p>How many skills on my resume ?</p>
            <pre class="substep s1"><code class="inline" data-language="javascript">$('widget.skills').length;</code></pre>
            <pre class="substep s2"><code class="inline" data-language="javascript">-&gt; 4</code></pre>
            <img class="substep s3" src="./images/close-enough.jpg" style="height: 50%; float: right">
        </div>


        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> : DoYouBuzz V1</h2>
            <img src="./images/dybV1.jpg" style="height: 90%; display: block; margin: auto;">
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> : DoYouBuzz V1</h2>
            <img src="./images/dyb.tutor.jpg" style="height: 90%; display: block; margin: auto;">
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> : DoYouBuzz V1</h2>
            <ul style="font-size: 40pt; margin-top: 20%;">
                <li>hard to debug</li>
                <li>restricted evolution</li>
                <li>a front with no knowledge of the application state</li>
            </ul>
        </div>

        <div class="step" data-scale="0.3" data-x="1200" data-y="1860" data-z="500">
            <q style="text-align: center; width: 100%; margin-top: 25%; display: block; font-size: 45pt; color: red;">We are simulating a front application</q>
        </div>

        <div class="step" data-scale="0.3" data-x="1600" data-y="3000" data-rotate="-45">
            <h3 class="subtitle"><img src="./images/doyoubuzz.png"><br> The adult age</h3>
        </div>

        <div class="step slide" data-scale="0.3" data-steps=4>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> V2</h2>
            <br><div class="fade substep s1" style="font-size: 100pt; text-align: center;">=</div>
            <br>
            <br>
            <img src="./images/the-sentinel.jpg" class="fade substep s2" style="width: 45%; float: left;">
            <span class="fade substep s3" style="position: absolute; top: 50%; left: 50%; font-size: 100pt;">+</span>
            <img class="fade substep s4" src="./images/evoli.gif"        style="width: 40%; float: right;">
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"></h2>
            <br>
            <br>
            <img src="./images/angularjs.png" class="slider" style="width: 50%; left: 25%;">
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"></h2>
            <q style="text-align: center;">No country for old JS !</q>
            <br>
            <br>
            <img src="./images/yoda.jpg">
            <img src="./images/jsfile.png" id="jsfile">
            <img src="./images/bin.jpeg" id="jsbin">
        </div>

        <div class="step slide" data-scale="0.3" data-steps=4>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"></h2>
            <q>Why Angular ?</q>
            <ul>
                <li class="substep s1">not just a library but a complete framework</li>
                <li class="substep s2">dependancies injection</li>
                <li class="substep s3">ready for testing</li>
                <li class="substep s4">une communauté hyper-active (supported by <img style="width: 100px; margin-bottom: -10px;" src="./images/google.jpg">).</li>
            </ul>

            <pre class="substep x1"><code data-language="javascript">angular
    .module('doyoubuzz', ['ng-animate'])
    .controller('resumeController', function () {})
    .factory('resumeManager', function () {})
    .directive('editBox', function () {});
</code></pre>

            <pre class="substep x2"><code data-language="javascript">[
    'dependancy1',
    'dependancy2',
    function (dependancy1, dependancy2) {
        dependancy1.makeTheAudienceSmile();
        dependancy2.nextSlide();
    }
];</code></pre>

            <br>
            <img class="substep x4" src="./images/angular.github.contributors.png">
            <img class="substep x4" src="./images/angular.github.activity.png">
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"></h2>
            <q>Mais encore :</q>
            <ul style="font-size: 40pt">
                <li>pure vanillaJS</li>
                <li>MDV (model driven view)</li>
                <li>library agnostic</li>
                <li>extension d'HTML</li>
                <li>interface déclarative</li>
            </ul>
            <br>
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"></h2>
            <table id="angular-table">
                <tr>
                    <td>
                        <h3>Directives</h3>
                        <ul>
                            <li>tout ce qui concerne le DOM</li>
                        </ul>
                    </td>
                    <td>
                        <h3>Services</h3>
                        <ul>
                            <li>tout le code métier</li>
                            <li>la mémoire partagée de l'application</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Controllers</h3>
                        <ul>
                            <li>Le lien entre le DOM et les données</li>
                            <li>responsable de la création des scopes</li>
                        </ul>
                    </td>
                    <td>
                        <h3>Bonus</h3>
                        <ul>
                            <li>API globale</li>
                            <li>resources</li>
                            <li>animations</li>
                            <li>...</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>

        <div class="step slide" data-scale="0.3" data-steps=4>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : les scopes</h2>
            <div style="position: relative;">
                <img src="./images/dyb.v2.png" style="width: 100%;">
                <div class="controller resume-controller-wrapper substep s1">&nbsp;</div>
                <div class="controller widget-controller xp-widget-controller-wrapper substep s3">&nbsp;</div>
                <div class="controller widget-controller skills-widget-controller-wrapper substep s3">&nbsp;</div>

                <pre class="substep x2 resume-controller-code"><code data-language="javascript">{
    positions: Object
    resume: Object
    createElement: function (type) {}
    hasWidget: function (widgetName) {}
    isMovable: function (type) {}
    sortStop: function (event, data) {}
}
</code></pre>
                <pre class="substep x4 widgets-controller-code"><code data-language="javascript">{
    type: String,
    elements: Array,
    create: function () {},
    edit: function (element) {},
    isDeletable: function (element) {},
    isHome: function (element) {},
    isMovable: function (element) {},
    isNew: function (element) {},
    isNotNew: function (element) {},
    remove: function (element) {},
    sort: function () {}
}
</code></pre>
            </div>
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : les scopes</h2>
            <div style="position: relative;">
                <img src="./images/dyb.v2.widget-hover.png" style="width: 100%;">
                <div class="controller resume-controller-wrapper" style="border-width: 1px">&nbsp;</div>
                <div class="controller widget-controller xp-widget-controller-wrapper">&nbsp;</div>
                <div class="controller widget-controller skills-widget-controller-wrapper">&nbsp;</div>
            </div>
            <div class="edit-button-code">
            <div class="up-triangle"></div>
            <pre><code data-language="html">
&lt;button data-ng-click=&quot;edit(element);&quot;&gt;&lt;/button&gt;

</code></pre>
            </div>
        </div>

        <div class="step slide" data-scale="0.3" data-steps=2>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : les scopes</h2>
            <p>Héritage de prototype</p>
            <pre class="substep x1"><code data-language="javascript">{
    //le prototype du widgetController
    type: String,
    elements: Array,
    create: function () {},
    //[...]
    remove: function (element) {},
    sort: function () {}
}
</code></pre>
            <pre class="substep x2"><code data-language="javascript">{
    //le prototype du widgetController
    type: String,
    elements: Array,
    create: function () {},
    //[...]
    remove: function (element) {},
    sort: function () {},
    //héritage du prototype du resumeController
    __proto__: {
        resume: Object
        createElement: function (type) {}
        hasWidget: function (widgetName) {}
        isMovable: function (type) {}
        sortStop: function (event, data) {}
    }
}
</code></pre>
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : les services</h2>
            <br><br><br>
            <br>
            <pre><code data-language="javascript">
/* controller : resumeController */
    createElement: function (type) {
        widgetsManager.create(type);
    }

</code></pre>
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : les services</h2>
            <pre style="line-height: 1.5em; font-size: 17pt;"><code data-language="javascript">
/* service : widgetsManager */
    create: function (type) {
        if (!this.canCreate(type)) {
           return errorHandler.widgetLimitError();
        }

        Widget
            .create({ type: type })
            .then(function () {
                widget.setEditMode(true);
            });

        this.widgets[type].unshift(widget);
    }

</code></pre>

        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : les services</h2>
            <q>Le widgetsManager</q>
            <pre><code data-language="javascript">
{
    widgets: { skills: [], portfolios: [] },
    create: function (type) {},
    edit: function (element) {},
    remove: function (element) {},
    move: function (type) {},
    canCreate: function (type) {}
}
            </code></pre>
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : les services</h2>
            <div id="services-demo-app">
                <div style="text-align: center;">
<pre style="text-align: left; font-size: 13pt; line-height: 1.5em; margin: 10px;"><code data-language="javascript">/* dataManager */
return {
    datas: [],
    add: function (element) {
        if (this.datas.length >= 3) {
            return window.alert('dataManager dit : STOP je n\'ajouterai rien de plus');
        }
        this.datas.push(element);
    }
};
</code></pre>
                </div>
                <table style="width: 100%; text-align: center;">
                    <tr>
                        <td data-ng-controller="firstController" style="width: 50%; border: solid 1px red; padding: 10px;">
<pre style="text-align: left; font-size: 13pt; line-height: 1.5em;"><code data-language="javascript">
/* elementsController */
scope.addElement = function (element) {
    dataManager.add(element);
};
</code></pre>
                            <div data-ng-repeat="element in elements" style="color: {{ element.color }}">☺</div>
                            <button data-ng-click="addElement({ color: 'green' });">addElement('green')</button>
                        </td>
                        <td data-ng-controller="secondController" style="width: 50%; border: solid 1px red; padding: 10px;">
<pre style="text-align: left; font-size: 13pt; line-height: 1.5em;"><code data-language="javascript">
/* thingsController */
scope.addThing = function (thing) {
    dataManager.add(thing);
};
</code></pre>
                            <div data-ng-repeat="thing in things" style="color: {{ thing.color }}">☺</div>
                            <button data-ng-click="addThing({ color: 'red' });">addThing('red')</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : les ressources</h2>
            <Q>Le seul lien client &lt;-&gt; serveur</Q>
            <pre><code data-language="javascript">var Widget = $resource(
    '/cv/:resumeId/:type/:id/:action',
    { type: type, resumeId: 12, id: '@id' },
    {
        get: { method: 'GET' },
        create: {
            method: 'GET',
            params: {action: 'new'}
        },
        save: { method: 'POST' },
        update: { method: 'PUT' }
    }
);
</code></pre>
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : les ressources</h2>
            <br><br>
            <pre><code data-language="javascript">
var w = new Widget({ type: ‘skills’, title: ‘felix’ });
w.$save(); // POST -&gt; /cv/12/skills
w.title = ‘other title’;
w.$update(); //PUT -&gt; /cv/12/skills/1
            </code></pre>
        </div>


        <div class="step" id="contrainte" data-scale="0.3" data-x="-400" data-y="2200" data-z="-1000" data-rotate-x="45">
            <h3 class="subtitle">La contrainte</h3>
        </div>

        <div class="step" data-scale="0.3" data-x="-400" data-y="2200" data-z="-800" data-steps=2>
            <q style="display: block; width: 100%; margin-top: 25%; text-align: center;" class="substep x1 fade"><samp>CV en mode 'édition' <br> === <br> CV en mode 'vue'</samp></q>
            <q style="display: block; width: 100%; text-align: center; font-size: 60pt; font-weigth: bold;" class="substep s2 fade">Sans <img style="height: 1em;" src="./images/angularjs.png"> en mode vue !!</q>
        </div>


        <div class="step slide" data-scale="0.3" data-steps=2>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : la contrainte</h2>
            <img class="substep x1" src="./images/dyb.mode.edit.png" style="width: 100%">
            <img class="substep s2" src="./images/dyb.mode.view.png" style="width: 100%">
        </div>

        <div class="step slide increment" data-scale="0.3" data-steps=8>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : mode édition</h2>
            <div class="edit-layout anim">
                <img src="./images/filling/cv.layout.png" style="width: 100%">
                <div class="anim widgets-views">
                    <img src="./images/filling/cv.educations.1.jpg" class="anim positionable edu first">
                    <img src="./images/filling/cv.educations.2.jpg" class="anim positionable edu second">
                    <img src="./images/filling/cv.skills.1.jpg" class="anim positionable sk">
                </div>
            </div>

            <div class="anim forgot-smthg http-request">T'as&nbsp;pas&nbsp;oublié&nbsp;qqchose&nbsp;? </div>

            <div class="js-libs anim">
                <img src="./images/jsfile.png">
                <div class="js-libs-names">
                <strong>
                    Angular.js<br>
                    jQuery.js<br>
                    services.js<br>
                    [...]<br>
                    application.js<br>
                </strong>
                </div>
            </div>

            <div class="anim send-cv http-request">Tu&nbsp;peux&nbsp;m'envoyer&nbsp;le&nbsp;CV&nbsp;? </div>

            <div class="anim cv-json"><pre><code data-language="javascript">{
    widgets: [...],
    positions: [...],
    ...
} </code></pre></div>
        </div>

        <div class="step slide increment" data-scale="0.3" data-steps=2>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : mode vue</h2>
            <div class="edit-layout anim">
                <img src="./images/filling/cv.full.png" style="width: 100%">
            </div>
            <div class="anim success">
                <img src="./images/filling/dyb.load.success.jpg" style="width:60%">
            </div>
        </div>

        <div class="step slide counters-trigger" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : la contrainte</h2>
            <q style="text-align: center">Chaque mois :</q>
            <table class="flip-counter-table" style="text-align: center; width: 100%">
                <tr>
                    <td><div class="flip-counter" id="editors-flip-counter"></div></td>
                    <td><div class="flip-counter" id="visitors-flip-counter"></div></td>
                </tr>
                <tr style="font-size: 40pt; font-weight: bold;">
                    <td>CV Edités</td>
                    <td>CV vus</td>
                </tr>
            </table>
        </div>

        <div class="step slide counters-trigger" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : la problématique</h2>
            <q>Comment rendre de façon identique des vues qui sont générées à la fois en front et en back ?</q>
        </div>

        <div class="step slide" data-scale="0.3" data-steps=5>
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : la contrainte</h2>
            <q>Plusieurs possibilités pour le rendu :</q>
            <ul>
                <li>tout le rendu se fait côté serveur <br><span class="substep s1" style="color: red">-&gt; peu de flexibilité</span></li>
                <li>tout le rendu se fait côté client <br><span class="substep s2" style="color: red">-&gt; pas de JS en mode vue</span></li>
                <li>duplication de la logique de rendu entre client et serveur <br><span class="substep s3" style="color: red">-&gt; maintenabilité 0</span></li>
                <li>le client et le serveur utilisent le même moteur de rendu <br><span class="substep s4" style="color: red">-&gt; pas encore vraiment possible</span></li>
                <li>le serveur rend des morceaux du CV et le client les place <span style="color: green" class="substep s5">✓</span></li>
            </ul>
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : la contrainte</h2>
            <img src="./images/dyb.widget.edit.png" style="width: 100%">
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : la contrainte</h2>
            <div id="two-way-demo-app">
                <div style="position: absolute;">
                    <img src="./images/dyb.skills.form.png">
                    <input data-ng-model="widget.title" style="top: 75px; left: 20px;">
                    <input data-ng-model="widget.detail1" style="top: 148px; left: 39px;">
                    <input data-ng-model="widget.detail2" style="top: 195px; left: 39px;">
                </div>
                <pre style="position: absolute; right: 10%; top: 30%" data-ng-bind="widget | stringify"> </pre>
                <div style="position: absolute; bottom: 10%; right: 10%">
                    <img src="./images/dyb.skills.view.png">
                    <div style="position: absolute; top: 30%; height: 60%; left: 2%; width: 96%; background-color: white" class="fake-widget">
                        <h3 data-ng-bind="widget.title"></h3>
                        <ul>
                            <li data-ng-bind="widget.detail1"></li>
                            <li data-ng-bind="widget.detail2"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="step slide" data-scale="0.3">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : la contrainte</h2>
            <q>Notre solution : </q>
            <div id="dyb-binding-demo-app" data-ng-controller="mainController">
                <div style="position: absolute;">
                    <img src="./images/dyb.skills.form.png">
                    <input data-ng-model="widget.title" style="top: 75px; left: 20px;">
                    <input data-ng-model="widget.detail1" style="top: 148px; left: 39px;">
                    <input data-ng-model="widget.detail2" style="top: 195px; left: 39px;">
                </div>
                <pre style="position: absolute; right: 10%; top: 30%" data-ng-bind="widget | stringify"> </pre>
                <div style="position: absolute; bottom: 10%; right: 10%">
                    <img src="./images/dyb.skills.view.png">
                    <div style="position: absolute; top: 30%; height: 60%; left: 2%; width: 96%; background-color: white" class="fake-widget" data-ng-bind-html="widget.$view | trustAsHtml">
                    </div>
                </div>
                <div class="http-post-request http-request" data-ng-class="{ 'loading': $request }">Comment tu rends ça {...} ?</div>
                <div class="http-post-response http-request" data-ng-class="{ 'loading': $response }">Tiens : { $view: '...' } !</div>
            </div>
        </div>

        <div class="step slide free" data-scale="0.3" data-x="0" data-y="2000">
            <h2><img src="./images/doyoubuzz.png" class="dyb-title"> + <img class="dyb-title" src="./images/angularjs.png"> : bilan</h2>
            <table style="width: 100%">
                <tr class="table-header">
                    <td>Front-End V1</td><td>Front-End V2</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>interactions utilisateurs</li>
                            <li>AJAX</li>
                            <li>injections HTML</li>
                            <li>animations</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>actions utilisateurs</li>
                            <li>animations</li>
                            <li>traitements du modèle</li>
                            <li>logique d'affichage</li>
                            <li>placement (widgets)</li>
                            <li>navigation dans le CV</li>
                            <li>messages d'information</li>
                            <li>messages de limitation</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>

        <div class="step" data-scale="0.3" data-x="0" data-y="2000" data-rotate-x="90">
            <img src="./images/dyb.tutor.jpg" style="height: 90%; display: block; margin: auto;">
        </div>

        <div class="step" data-scale="0.3" data-x="0" data-y="2100" data-z="100" data-steps=4>
            <img class="substep x1" src="./images/dyb.v2.interactions.0.png" style="height: 700px;">
            <img class="substep x2" src="./images/dyb.v2.interactions.1.png" style="height: 700px;">
            <img class="substep x3" src="./images/dyb.v2.interactions.2.png" style="height: 700px;">
            <img class="substep x4" src="./images/dyb.v2.interactions.3.png" style="height: 700px;">
        </div>

        <div id="find-me" data-scale="0.5" class="step">
            <div id="preview-invitation">
                <div class="hole"></div>
                <h1 style="text-align: center;">Cadeau</h1>
                <q><a href="http://preview.doyoubuzz.com">http://preview.doyoubuzz.com</a></q>
                <q>nantesJS</q>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-animate.min.js"></script>
    <script src="./js/rainbow.min.js"></script>
    <script src="./js/language/generic.js"></script>
    <script src="./js/language/javascript.js"></script>
    <script src="./js/language/html.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/impress.js"></script>
    <script src="js/application.js"></script>

</body>
</html>
